# Created by .ignore support plugin (hsz.mobi)
### Yii template
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/yii
.idea
nbproject
.buildpath
.project
.settings
Thumbs.db
/vendor
composer.lock
composer.phar
.DS_Store
phpunit.phar
/phpunit.xml
/.vagrant
/vendor/
/fordelete.txt
/done.txt
/certificates.php
/backup
/storage/
/source/
frontend/web/sitemap1.xml
frontend/web/sitemap10.xml
frontend/web/sitemap11.xml
frontend/web/sitemap12.xml
frontend/web/sitemap13.xml
frontend/web/sitemap2.xml
frontend/web/sitemap3.xml
frontend/web/sitemap4.xml
frontend/web/sitemap5.xml
frontend/web/sitemap6.xml
frontend/web/sitemap7.xml
frontend/web/sitemap8.xml
frontend/web/sitemap9.xml
/common/components/yii2-elasticsearch/
/node_modules/
/backend/web/export/
/backend/web/statistics_export.csv
/frontend/web/statistics_export.csv
